<phpunit bootstrap="./test/src/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Linters">
            <directory>./test/src/GrumPHPTest/Linter</directory>
        </testsuite>
        <testsuite name="Parsers">
            <directory>./test/src/GrumPHPTest/Parser</directory>
        </testsuite>
    </testsuites>
</phpunit>
